@charset "utf-8";
/* CSS Document */

.main{width:1140px; margin:0 auto; text-align:center;}
.main h2{height:94px; line-height:94px; font-size:26px; color:#010101; padding-top:58px;}
.main p{line-height:23px; font-size:13px; color:#999999; padding:0 109px;}
.main form{height:467px; padding-top:32px;}
.main .form .text{width:350px; height:47px; background:#ededed; border:1px solid #dcdbe0; border-radius:3px; line-height:47px; font-size:16px; color:#acacac; padding-left:17px; margin-left:3px;}
.main .form .message{width:1098px; height:248px; margin:24px 0 45px 3px;}
.main .form .sub{width:225px; height:57px; line-height:57px; border-radius:3px; background:#ed5844; font-size:16px; color:#fdfdfb; text-transform:uppercase; font-weight:bold; box-shadow:0 0 8px rgba(0,0,0,0.5) inset;}